name: flutter_google_places_sdk
description: A Flutter plugin for google places sdk that uses the native libraries on each platform
version: 1.0.0
homepage: https://github.com/matanshukry/flutter_google_places_sdk/tree/master/flutter_google_places_sdk

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_plugin_android_lifecycle: ^2.0.2
  flutter_google_places_sdk_platform_interface:
    git:
      url: https://github.com/quintoandar/flutter_google_places_sdk.git
      path: flutter_google_places_sdk_platform_interface

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.0.9

flutter:
  plugin:
    platforms:
      android:
        package: com.msh.flutter_google_places_sdk
        pluginClass: FlutterGooglePlacesSdkPlugin
      ios:
        pluginClass: FlutterGooglePlacesSdkPlugin
